header {
    background-color:coral;
    color: bisque;
}
.capa{
  width: 50%;
  margin: 0px 450px;
}

.oi{
  width:35%;

}

.sobre_os_dogs{
width:35% ;
} 
.toquinho{
width:35% ;
}
.sobre_os_dogs{
  margin: 0px 450px;
}
.doacao{
  margin: 0px 450px;
}
.doeaqui{
  margin:0px 450px ;
}
.Julieta{
  width:35% ;
}
